{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/question_01" method="get" class="form">

      <h2 class="heading-large">
        Which of the following access needs did they have?
      </h2>


        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Which of the following access needs did they have?</legend>

            <div class="option_01">
            <div class="multiple-choice" data-target="contact-by-email">
              <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
              <label for="example-contact-by-email">Hearing</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
                <p>
                  Select all options that are relevant to you.
                </p>

                

        <input class="button" type="submit" value="Continue">

      </form>



    </div>
  </div>
</main>

{% endblock %}
