{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/question_01" method="get" class="form">

      <h2 class="heading-large">
        Which of the following access needs did they have?
      </h2>


        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">Which of the following access needs did they have?</legend>

            <div class="option_01">
            <div class="multiple-choice" data-target="contact-by-email">
              <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
              <label for="example-contact-by-email">Hearing</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
                <p>
                  Select all options that are relevant to you.
                </p>

                  <div class="form-group">
                    <fieldset>

                      <legend class="visually-hidden">Hearing disabilities</legend>

                      <div class="multiple-choice">
                        <input id="nationalities-british" name="nationalities" type="checkbox" value="British">
                        <label for="nationalities-british">Deaf(uses British Sign Language as first or preferred language)</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="nationalities-irish" name="nationalities" type="checkbox" value="Irish">
                        <label for="nationalities-irish">Hearing impairment/hearing loss</label>
                      </div>
                      <div class="multiple-choice" data-target="example-different-country">
                        <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
                        <label for="nationalities-other">Other(please specify)</label>
                      </div>
                      <div class="panel panel-border-narrow js-hidden" id="example-different-country">
                        <label class="form-label" for="nationalities-other-country">Hearing needs</label>
                        <input class="form-control" type="text" id="nationalities-other-country" name="nationalities-other-country">
                      </div>

                    </fieldset>
                  </div>


            </div>
          </div>

<div class="option_02">

            <div class="multiple-choice" data-target="contact-by-phone">
              <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
              <label for="example-contact-by-phone">Physical and Mobility</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
                <p>
                  Select all options that are relevant to you.
                </p>

                  <div class="form-group">
                    <fieldset>

                      <legend class="visually-hidden">Physical and Mobility</legend>

                      <div class="multiple-choice">
                        <input id="nationalities-british" name="nationalities" type="checkbox" value="British">
                        <label for="nationalities-british">Physical disability</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="nationalities-irish" name="nationalities" type="checkbox" value="Irish">
                        <label for="nationalities-irish">Wheelchair/mobility difficulties</label>
                      </div>
                      <div class="multiple-choice" data-target="example-different-country">
                        <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
                        <label for="nationalities-other">Other(please specify)</label>
                      </div>
            <div class="panel panel-border-narrow js-hidden" id="example-different-country">
          <label class="form-label" for="nationalities-other-country">Physical needs</label>
          <input class="form-control" type="text" id="nationalities-other-country" name="nationalities-other-country">
        </div>

      </fieldset>
    </div>

  </div>
</div>



            <div class="multiple-choice" data-target="contact-by-text">
              <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
              <label for="example-contact-by-text">Thinking and Feeling</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
              <label class="form-label" for="contact-text-message">Thinking and Feeling</label>
              <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
            </div>

            <div class="multiple-choice" data-target="contact-by-email">
              <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
              <label for="example-contact-by-email">Vision</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
              <label class="form-label" for="contact-email">Vision</label>
              <input class="form-control" name="contact-email" type="text" id="contact-email">
            </div>

            <div class="multiple-choice" data-target="contact-by-email">
              <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
              <label for="example-contact-by-email">Other</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
              <label class="form-label" for="contact-email">Other</label>
              <input class="form-control" name="contact-email" type="text" id="contact-email">
            </div>

          </fieldset>
        </div>

        <input class="button" type="submit" value="Continue">

      </form>



    </div>
  </div>
</main>

{% endblock %}
