{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/question_01" method="get" class="form">

      <h2 class="heading-large">
        Which of the following access needs did they have?
      </h2>


        <div class="form-group">

          <h1 class="heading-medium">
    What is your nationality?
  </h1>

  <form>
    <div class="form-group">
      <fieldset>

        <legend>
          <span class="visually-hidden">Which of the following needs did they have?</span>
          <span class="body-text">Select all options that are relevant.</span>
        </legend>
        <br>

        <!--hearing!-->
        <div class="multiple-choice" data-target="waste-type-1 wsas">
          <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
          <label for="nationalities-other">Hearing</label>
        </div>
      <!--  <div class="panel panel-border-narrow js-hidden multiple-choice" id="example-different-country">
          <label class="form-label" for="nationalities-other-country">Deaf (uses British sign language as first or preferred language)</label>
          <input class="form-control" type="checkbox" id="nationalities-other-country" name="nationalities-other-country" value="nationalities-other-country">
        </div> !-->

        <div class="js-hidden panel panel-border-narrow" id="waste-type-1">
           <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
           <label for="waste-type-1">Waste from animal carcasses</label>
         </div>

         <div class="multiple-choice">
           <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
           <label for="waste-type-2">Waste from mines or quarries</label>
         </div>
         <div class="multiple-choice">
           <input id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural">
           <label for="waste-type-3">Farm or agricultural waste</label>
         </div>







        <!--physical&mobility!-->
        <div class="multiple-choice" data-target="example-different-country">
          <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
          <label for="nationalities-other">Physical & Mobility</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="example-different-country">
          <label class="form-label" for="nationalities-other-country">Country name</label>
          <input class="form-control" type="text" id="nationalities-other-country" name="nationalities-other-country">
        </div>
        <!--thinking!-->
        <div class="multiple-choice" data-target="example-different-country">
          <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
          <label for="nationalities-other">Thinking</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="example-different-country">
          <label class="form-label" for="nationalities-other-country">Country name</label>
          <input class="form-control" type="text" id="nationalities-other-country" name="nationalities-other-country">
        </div>
        <!--vision!-->
        <div class="multiple-choice" data-target="example-different-country">
          <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
          <label for="nationalities-other">Vision</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="example-different-country">
          <label class="form-label" for="nationalities-other-country">Country name</label>
          <input class="form-control" type="text" id="nationalities-other-country" name="nationalities-other-country">
        </div>
        <!--other!-->
        <div class="multiple-choice" data-target="example-different-country">
          <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
          <label for="nationalities-other">Other</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="example-different-country">
          <label class="form-label" for="nationalities-other-country">Country name</label>
          <input class="form-control" type="text" id="nationalities-other-country" name="nationalities-other-country">
        </div>

      </fieldset>
    </div>


        <input class="button" type="submit" value="Continue">

      </form>



    </div>
  </div>
</main>

{% endblock %}
