{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight" style="background-color:#E9E052; color:#000000">
        <h1 class="bold-large">Your participant is in category 7</h1>
        <br>
        <p>
          Basic digital skills and capabilities
        </p>
      </div>
      <p>These people have enough skills to be able to navigate online independently and perform all tasks at a basic level.</p>

      <!--<div class="form-group">
        <input type="submit" class="button" value="Save this participant to the project and view dashboard">
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Save this participant to the project and map another">
      </div>-->

      <details>

        <summary><span class="summary">More information</span></summary>
        <div class="panel panel-border-narrow">
        </div>

      </details>

      <div class="form-group">

        <h2 class="heading-medium">How would you like to continue?</h1>
        <fieldset>
          
          <div class="multiple-choice">
            <input id="radio-1" type="radio" name="do_next" value="plot another">
            <label for="radio-1">Plot another person on the scale</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-2" type="radio" name="do_next" value="finish and close">
            <label for="radio-2">Finish and close</label>
          </div>

        </fieldset>
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>


    </div>
  </div>

</main>

{% endblock %}
