{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
<div class="column-two-thirds">
<br>
        <form action="/question_01" method="get" class="form">
      <div class="govuk-box-highlight" style="background-color:#E89E54; color:#000000">
        <h1 class="bold-large">Your participant is in category 3</h1>
        <br>
        <p>
          Willing and unable
        </h3>
      </div>
<br>
      <p>People in this category predominantly have a positive perception of being online but have problems with low skills and they struggle to learn.</p>

      <!--<div class="form-group">
        <input type="submit" class="button" value="Save this participant to the project and view dashboard">
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Save this participant to the project and map another">
      </div>-->

      <details>

        <summary><span class="summary">More information</span></summary>
        <div class="panel panel-border-narrow">
        </div>

      </details>

    </br>
      <div class="form-group">
        <input type="submit" class="button" value="Plot another person">
      </div>



    </div>
  </div>
  </div>

</main>

{% endblock %}
