{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
        <form action="/question_01" method="get" class="form">
      <div class="govuk-box-highlight" style="background-color:#9FC54E; color:#000000">
        <h1 class="bold-large">Your participant is in category 9</h1>
        <br>
        <p>
          Expert
        </p>
      </div>
      <p>Expert internet users have advanced digital skills.</p>

      <!--<div class="form-group">
        <input type="submit" class="button" value="Save this participant to the project and view dashboard">
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Save this participant to the project and map another">
      </div>-->

      <details>

        <summary><span class="summary">More information</span></summary>
        <div class="panel panel-border-narrow">
        </div>

      </details>

    </br>
      <div class="form-group">
        <input type="submit" class="button" value="Plot another person">
      </div>

    </form>

    </div>
  </div>

</main>

{% endblock %}
