{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight" style="background-color:#E17C5A; color:#000000">
        <h1 class="bold-large">Your participant is in category 1</h1>
        <br>
        <p>
          Never have, never will
        </p>
      </div>
      <p>This category predominantly includes older people or people who were born before digital technology became common. They may feel they have ‘missed the boat’ and that learning how to use the internet doesn’t fit into their lives.</p>

      <!--<div class="form-group">
        <input type="submit" class="button" value="Save this participant to the project and view dashboard">
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Save this participant to the project and map another">
      </div>-->

      <details>

        <summary><span class="summary">More information</span></summary>
        <div class="panel panel-border-narrow">
        </div>

      </details>

      <div class="form-group">

        <h2 class="heading-medium">How would you like to continue?</h1>
        <fieldset>

        <div class="multiple-choice">
          <input id="radio-1" type="radio" name="radio-group" value="Save and go to dashboard">
          <label for="radio-1">Save this participant to the project and view the dashboard</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-2" type="radio" name="radio-group" value="Save and add another">
          <label for="radio-2">Save this participant to the project and map another</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-2" type="radio" name="radio-group" value="Discard and go to dashboard">
          <label for="radio-2">Discard and map another participant</label>
        </div>

        </fieldset>
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>


    </div>
  </div>

</main>

{% endblock %}
