{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Map your research participants
      </h1>


      <h2 class="heading-medium">What</h2>

      <p>This tool is to assist you in plotting and recording your research participants against the Digital Inclusion Scale. It is a short series of questions that should take no longer than three minutes per participant.</p>

			<h2 class="heading-medium">How</h2>

      <p>This tool is to be used after your session with the research participant.</p>
      <p>During the research session you will need to find out the following in order to ensure you can complete the questions successfully:</p>

			<ul class="list list-bullet">
				<li>If they have ever, and continue to use the internet?</li>
				<li>Their attitudes towards being online, whether they like it, or use it reluctantly</li>
        <li>Whether they need help with online tasks such as using a search engine, buying things or using emails</li>
        <li>If they have advanced digital skills?</li>
			</ul>

      <h2 class="heading-medium">Why</h2>

		<p>The outcome of each plotted participant will be recorded and displayed in a dashboard that you can view, or create a downloadable copy at any time. It will show the spread of the research participants you are achieving.</p>
    <p>The scale is used for service assessments, to understand how inclusive your research is when recruiting, and to give an overview of how research of a particular project is progressing.</p>
    <p>More information about the Digital Inclusion scale can be found at <a href="https://www.gov.uk/government/publications/government-digital-inclusion-strategy/government-digital-inclusion-strategy"> https://www.gov.uk/government/publications/government-digital-inclusion-strategy/government-digital-inclusion-strategy</a></p>

    <br><br>
    <a class="button button-start" href="choose_project.html" role="button">Start now</a>


    </div>
  </div>
</main>

{% endblock %}
