{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

  <a class="link-back" href="/accessbility_questions">Back</a>
  <form action="/question_02" method="get" class="form">

      <h2 class="heading-large">
      Has your participant ever used the internet?
    </h2>

<br>

  <div class="form-group">
    <fieldset class="inline">

      <legend class="visually-hidden">Has your participant ever used the internet?</legend>

      <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="everused" value="Yes">
        <label for="radio-inline-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="everused" value="No">
        <label for="radio-inline-2">No</label>
      </div>

    </fieldset>

  </div>


<br><br>
<br>

    <input class="button" type="submit" value="Continue">

</form>
    </div>
  </div>
</main>

{% endblock %}
