{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/docs/tutorials-and-examples">Back</a>

      <h1 class="heading-large">
        Is this going to work?
      </h1>


        <form action="check-your-answers-page" method="get" class="form">


        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden">Do you already have a personal user account?</legend>

            <div class="multiple-choice">
              <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes"
              {{ checked('radio-inline-group','Yes') }}>
              <label for="radio-inline-1">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No"
              {{ checked('radio-inline-group','No') }}>
              <label for="radio-inline-2">No</label>
            </div>

          </fieldset>
        </div>


        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
